<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script
            src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}">
    </script>
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
    <title>
        {% block title %}
            Base
        {% endblock %}
    </title>
</head>
<body>
{% include 'navbar.html' %}
    <div class="container">
      {% block body %}
         Hello base!
      {% endblock %}
    </div>
</body>
</html>
